<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.titlescreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.titlescreen.LaunchScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.titlescreen.LibraryActivity" />
        <activity android:name="com.example.titlescreen.FirstActivity" />
        <activity android:name="com.example.titlescreen.SecondActivity" />
        <activity android:name="com.example.titlescreen.EditStoryScreen" />
        <activity android:name="com.example.titlescreen.NewStoryScreen" />
        <activity android:name="com.example.titlescreen.SkyView" />
        <activity android:name="com.example.titlescreen.GameSurfaceView" />
        <activity android:name="com.example.titlescreen.AddStory" />
        <activity android:name="com.example.titlescreen.Database" />
        <activity android:name="com.example.titlescreen.JSONParser" />
        <activity android:name="com.example.titlescreen.Login" />
        <activity android:name="com.example.titlescreen.ReadStory" />
        <activity android:name="com.example.titlescreen.Register" />
    </application>
    

</manifest>
